* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #0F172B;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

b {
    color: #B59410;
    font-weight: inherit;
}

header {
    align-items: center;
    background-color: #0F172B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

header .logoTitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 700;
    gap: 10px;
}

header img {
    height: auto;
    width: 60px;
}

header #menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 30px;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
}

#menu button {
    font-size: 20px;
    padding: 10px 15px;
}

#menu #chevron {
    display: none;
}

.sectionContainer {
    padding: 30px;
}

#section1 {
    background-image: linear-gradient(to bottom, #0F172B 0%, #0F172B 20%, #334E91 100%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    min-height: 100vh;
}

#section1 h1 {
    font-size: 64px;
}

#section1 h2 {
    font-weight: 600;
}

#section1 #snippet {
    align-items: center;
    background-color: rgba(254, 185, 1, 0.25);
    border: solid 1px #B59410;
    border-radius: 50px;
    color: #B59410;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 12px;
    padding: 12px 30px;
    max-width: max-content;
}

#section1 svg {
    width: 24px;
}

#section1 .title {
    align-items: flex-start;
    gap: 30px;
}

.title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section1 #cta1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

button {
    align-items: center;
    border: none;
    border-radius: 12px;
    color: #0F172B;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    padding: 15px;
}

.gbutton {
    background-color: #B59410;
}

.gbutton svg path {
    stroke-width: 3px;
}

.wbutton {
    background-color: #FFFFFF;
}

#extras1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#extras1 div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#extras1 div svg {
    color: #B59410;
}

#section2 {
    align-items: center;
    background-color: #F8FAFC;
    color: #0F172B;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    min-height: 100vh;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards .card {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    padding: 30px;
    width: 286px;
    min-height: 80vh;
}

.card .description {
    font-weight: 500;
}

.card .checklist {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card .checklist div {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 5px;
}

.icon1 {
    align-items: center;
    background-color: rgba(254, 185, 1, 0.25);
    border-radius: 12px;
    color: #B59410;
    display: flex;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;

}

.icon1 svg {
    width: 35px;
}

.checklist svg {
    width: 24px;
}

.checklist div svg path {
    color: #B59410;
}

#section3 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

#section3 .title {
    align-items: flex-start;
}

#benefits {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#benefits .line {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#benefits .line h3 {
    font-size: 16px;
    font-weight: 600;
}

.flipped {
    transform: scaleX(-1);
}

#cards2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}

.icon2 {
    align-items: center;
    color: #B59410;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.icon2 svg {
    width: 45px;
}

.card2 {
    background-color: #F8FAFC;
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    padding: 30px;
    width: 500px;
}

.card2 h3 {
    font-size: 32px;
    font-weight: 700;
}

#section4 {
    align-items: center;
    background-color: #F8FAFC;
    color: #0F172B;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    min-height: 100vh;
}


.prices {
    font-size: 14px;
}

.bigtext {
    font-size: 32px;
    font-weight: 700;
}

.card button {
    background-color: #FFFFFF;
    border: solid 1px #999999;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
}

#focuscard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#focuscard #popular {
    background-color: #B59410;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    max-width: max-content;
    position: relative;
    top: 15px;
}

#section4 #focuscard .card {
    background-color: #0F172B;
    border: solid 3px #B59410;
    color: #FFFFFF;
}

#focuscard button {
    background-color: #B59410;
    border: none;
}

#section5 {
    align-items: center;
    background-color: #0F172B;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 474px;
    justify-content: center;
    min-height: 70vh;
}

#section5 .title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 20vh;
}

#section5 svg {
    width: 24px;
}

#section5 .title h2 {
    font-weight: 400;
}

#section5 #extras2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#section6 {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    min-height: 70vh;
}

#section6 #contacts {
    background-color: #F8FAFC;
    border: solid 1px #DBDBDB;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

#contacts .contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 196px;
    justify-content: center;
    width: 176px;
}

#section7 {
    align-items: center;
    background-color: #0F172B;
    color: #96A7CF;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#section7 #footnotes {
    border-bottom: 1px solid #96A7CF;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#footnotes .footnote {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 225px;
    height: 150px;
}

.footnote .logoTitle {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#section7 .logoTitle img {
    height: auto;
    width: 40px;
}

.footnote h4 {
    color: #FFFFFF;
}

.footnote p {
    font-size: 14px;
}

.footnote .list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    #section1 h1 {
        font-size: 48px;
    }

    #section1 .title {
        align-items: center;
    }

    #section1 #cta1 {
        align-items: center;
    }

    .buttonDiv {
        flex-direction: column;
    }

    #extras1 {
        justify-content: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        max-width: none;
    }

    #benefits .line {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #cards2 {
        flex-direction: column;
        align-items: center;
    }
}

